h1{
    color: red;
    height: 100vh;
    width: 100vw;
}
img{
    height: 100vh;
    width: 100vw;
}
.counter{
    color: aqua;
}
.body{
    height: 300vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}